MAILSLURP_INBOX_ID=55a4bf0e-268d-4acc-a075-b5467e079d07
MAILSLURP_KEY=sk_ZVvdNTMIKnbxasQS_zXgEzXif5TgAXZZB2uwICklegK1fsKxD2L9CpdnjhyAxWqlDjoebBc35Mg5tPHNg

#credenciales contraseña de aplicacion para test de notificacion
TEST_EMAIL_PASSWORD="**** **** **** ****"
TEST_EMAIL=migmail@gmail.com